# Python cache
__pycache__/
*.pyc

# datasets
dataset/
used_datasets/

# virtual enviorment
venv/

# binary mask dataset zip file for google collab 
dataset.zip

# large files
*.pth

# outputs
prediction.png
stitched_mask.png

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/