# Core
numpy
opencv-python
matplotlib

# Deep Learning
torch
torchvision

# YOLO (you were using it)
ultralytics

#COCO 
pycocotools

# Image handling
Pillow
imageio

# Training utilities
tqdm
segmentation_models_pytorch

# (Optional but recommended for augmentations)
albumentations